.navbar-logo {
    float: left;
    padding: 2px 2px;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-logo img {
    height: 100%;
    display: block;
}
.btn-smaller {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 5px;
}
body {
    background-image: url(data/background.jpg);
}
.col-md-4 > p {
    background:#fff2e6;
    margin-top:0px;
    padding:10px;
}
.col-md-4 > h3 {
    background:#fff2e6;
    margin-top:0px;
    padding:10px;
    font-weight:900;
    margin-bottom:0px;
    padding-bottom:0px;
    border-top:2px solid #ffb443;
    font-family:open;
    text-align: center;
}
.col-md-4 {
    margin-top: 300px;
}
.col-md-4 > a {
    background:#ffb443;
    color:#fc7e17;
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
    text-shadow: -0.2px 0 #ffb56f, 0 0.2px #ffb56f, 0.2px 0 #ffb56f, 0 -0.2px #ffb56f;
}
.start-form {
    margin-top: 200px;
}